h2 #{title}
form(method='post',action=act)

  p
    label(for="num") Número:
      input(type='text', name='num', value=factura.num)

  p
    label(for="company") Empresa:
      input(type='text', name='company', size=100, value=factura.company)

  p
    label(for="service") Servicio:
      input(type='text', name='service', value=factura.service)

  p
    label(for="time") Fecha:
      input(type='date', name='time', size=100, value=factura.time)

  p
    label(for="debt") Deuda:
      input(type='text', name='debt', size=100, value=factura.debt)

  p
    label(for="state") Estado:
      input(type='text', name='state', value=factura.state)

  p
    input(type='submit', value='Guardar')
